<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.word.dao.WordDao">
    <select id="add" parameterType="word">
        insert into
        word
        (account,
        week,
        word)
        values (
        #{account},
        #{week},
        #{word}
        )
    </select>

    <select id="update">
        update word set
        word = #{word.word}
        score = #{word.score}
        where
        account = #{word.account}
        and
        week = #{word.week}
    </select>

    <select id="get" parameterType="word" resultType="word">
        select
        a.word,
        a.week,
        a.score,
        a.date,
        b.name
        from word a left join user b
        on a.account=b.account
        where
        a.account =  #{account} or
        (a.week like #{week} or #{week} is null)


    </select>

</mapper>
